@import "../globalStyle/sharedColor.css";

.exam-page {
    width: 100%;
}

.exam-page-heading {
    width: 100%;
    text-align: center;
    padding-top: 36px;
    font-size: 2.1rem;
}

.exam-area {
    margin: 48px 16px 0;
    min-height: 1000px;
    background-color: var(--palette-color-blue);
    background-image: linear-gradient(to right, rgba(255,0,0,0), var(--gradient-color-blue));
    border-radius: 8px;
}

.question-box {
    padding: 24px;
    width: 100%;
    min-height: 100px;
    color: var(--palette-color-blue);
}

.question-name {
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.question-box li {
    font-size: 1.3rem;
    margin-bottom: 8px;
}

.question-box li input {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 8px 12px 8px 0;
    top: 50%;
}

/* Exam Action */
.exam-action {
    min-height: 60px;
    background-color: bisque;
    margin: 0 16px;
}
