.exam-page {
    width: 100%;
}

.exam-page-heading {
    width: 100%;
    text-align: center;
    padding-top: 36px;
    font-size: 2.1rem;
}

.exam-area {
    margin: 48px 16px;
    min-height: 1000px;
    background-color: #F9F2ED;
    border-radius: 8px;
}

.question-box {
    padding: 32px 32px;
    width: 100%;
    min-height: 100px;
}

.question-name {
    font-size: 1.8rem;
    margin-bottom: 16px;
}

.question-box li {
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.question-box li input {
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
}
